*{
    margin: 0;
    top: 0;
}
.flex{
    display: flex;
}
.container {
    height: 100vh;
}
.quadrado-1{
    height: 80px;
    width: 100%;
    background-color: rgb(228, 228, 228);
}
.logo{
    height: 150px;
    margin-top: -35px;
    margin-left: 150px;
}
body{
    background-image: url('familia.jpg');
}